*{
    box-sizing: border-box;
}
.body{
    background-color: rgb(207, 59, 59);
}
.bj-font{
    font-family: 'Chicle', cursive;
}
.bet-info{
    font-size: 30px;
}
.app{
    background-color: rgb(5, 98, 5);
    border-radius: 20%;
    height: fit-content;
    border: 20px rgb(92, 49, 23) solid;
    padding-bottom: 5px;
}
.dealer{
    width:fit-content
}
.player{
    width:fit-content;
    padding-top:5px;
    padding-bottom:10px;
}
h2{
    color: white;
    width: fit-content;
}
.buttons{
    width: fit-content;
    margin-top: 10px;
}
.gameInfo{
    background-color: black;
    color: azure;
    width: fit-content;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 20px;
}
.cards{
    border-radius: 5%;
    background-color: rgb(233, 230, 230);
    min-width: 80px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    border: rgb(97, 88, 88) 1px solid;
}
.cards .card-bottom{
    transform: rotate(180deg);
}
.cards .card-icon{
    font-size: 66.6%;
}