*{
    box-sizing: border-box;
}
.body{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
.onload-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    transition: ease-in-out 3s;
}
.onload-title{
    margin: 30px;
    margin-bottom: 10px;
    font-size: 80px;
    transition: ease-in-out 3s;
    transform: rotate(350deg);
    opacity: 0;
}
.onload-icon.title-icon{
    font-size: 60px;
}
.startBtn{
    visibility: hidden;
}
.bj-font{
    font-family: 'Chicle', cursive;
}
.bet-info{
    color: gold;
}
.title-icon{
    color: red;
    font-size: 15px;
}
div .rules-nav{
    color:white;
}
div .rules-nav:hover{
    color: rgb(151, 151, 151);
    cursor: pointer;
}
#rules-info{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(252, 249, 249);
    background-color: rgba(4, 4, 4,0.9);
    width: 100%;
    min-height: 100vh;
    display: none;
}
.app{
    background-color: rgb(5, 98, 5);
    border-radius: 20%;
    height: fit-content;
    border: 20px rgb(92, 49, 23) solid;
    padding-bottom: 5px;
}
.dealer{
    width:fit-content
}
.player{
    width:fit-content;
    padding-top:5px;
    padding-bottom:10px;
}
h2{
    color: white;
    width: fit-content;
}
.buttons{
    width: fit-content;
    margin-top: 10px;
}
.gameInfo{
    background-color: black;
    color: azure;
    width: fit-content;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 20px;
}
.cards{
    border-radius: 5%;
    background-color: rgb(233, 230, 230);
    min-width: 80px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    border: rgb(97, 88, 88) 1px solid;
}
.cards .card-bottom{
    transform: rotate(180deg);
}
.cards .card-icon{
    font-size: 66.6%;
}
